# **<u>PHW-7 Chapter 7 - Beyond the Fundamentals of Querying - Areefin</u>**

# **<u>Top 5 Queries</u>**

## _TOP 1_

Proposition:

- <span style="font-size: 14px;">Write a query against the EmpYearOrders table that unpivots</span>Â the data, returning a row for each employee and order year with the number of orders
- <span style="font-size: 14px;">Exclude rows where the number of orders is 0&nbsp;(in our example, employee 3 in year 2016)</span>

In [ ]:
USE TSQLV6;
DROP TABLE IF EXISTS dbo.Orders;
CREATE TABLE dbo.Orders
(
 orderid INT NOT NULL
 CONSTRAINT PK_Orders PRIMARY KEY,
 orderdate DATE NOT NULL,
 empid INT NOT NULL,
 custid VARCHAR(5) NOT NULL,
 qty INT NOT NULL
);
INSERT INTO dbo.Orders(orderid, orderdate, empid, custid, qty)
VALUES
 (30001, '20200802', 3, 'A', 10),
 (10001, '20201224', 2, 'A', 12),
 (10005, '20201224', 1, 'B', 20),
 (40001, '20210109', 2, 'A', 40),
 (10006, '20210118', 1, 'C', 14),
 (20001, '20210212', 2, 'B', 12),
 (40005, '20220212', 3, 'A', 10),
 (20002, '20220216', 1, 'C', 20),
 (30003, '20220418', 2, 'B', 15),
 (30004, '20200418', 3, 'C', 22),
 (30007, '20220907', 3, 'D', 30);

USE TSQLV6;
DROP TABLE IF EXISTS dbo.EmpYearOrders;
CREATE TABLE dbo.EmpYearOrders
(
 empid INT NOT NULL
 CONSTRAINT PK_EmpYearOrders PRIMARY KEY,
 cnt2020 INT NULL,
 cnt2021 INT NULL,
 cnt2022 INT NULL
);

INSERT INTO dbo.EmpYearOrders(empid, cnt2020, cnt2021, cnt2022)
 SELECT empid, [2020] AS cnt2020, [2021] AS cnt2021, [2022] AS cnt2022
 FROM (SELECT empid, YEAR(orderdate) AS orderyear
 FROM dbo.Orders) AS D
 PIVOT(COUNT(orderyear)
 FOR orderyear IN([2020], [2021], [2022])) AS P;


SELECT	empid, 
		CAST(RIGHT(orderyear, 4) AS INT) AS orderyear, 
		numorders
FROM dbo.EmpYearOrders
 UNPIVOT(numorders FOR orderyear IN(cnt2020, cnt2021, cnt2022)) AS U
WHERE numorders != 0;


USE Northwinds2022TSQLV7;
DROP TABLE IF EXISTS dbo.[Order];
CREATE TABLE dbo.[Order]
(
 OrderId INT NOT NULL
 CONSTRAINT PK_Order PRIMARY KEY,
 OrderDate DATE NOT NULL,
 EmployeeId INT NOT NULL,
 CustomerId VARCHAR(5) NOT NULL,
 Quantity INT NOT NULL
);
INSERT INTO dbo.[Order](OrderId, OrderDate, EmployeeId, CustomerId, Quantity)
VALUES
 (30001, '20200802', 3, 'A', 10),
 (10001, '20201224', 2, 'A', 12),
 (10005, '20201224', 1, 'B', 20),
 (40001, '20210109', 2, 'A', 40),
 (10006, '20210118', 1, 'C', 14),
 (20001, '20210212', 2, 'B', 12),
 (40005, '20220212', 3, 'A', 10),
 (20002, '20220216', 1, 'C', 20),
 (30003, '20220418', 2, 'B', 15),
 (30004, '20200418', 3, 'C', 22),
 (30007, '20220907', 3, 'D', 30);

USE Northwinds2022TSQLV7;
DROP TABLE IF EXISTS dbo.EmpYearOrder;
CREATE TABLE dbo.EmpYearOrder
(
 EmployeeId INT NOT NULL
 CONSTRAINT PK_EmpYearOrder PRIMARY KEY,
 cnt2020 INT NULL,
 cnt2021 INT NULL,
 cnt2022 INT NULL
);

INSERT INTO dbo.EmpYearOrder(EmployeeId, cnt2020, cnt2021, cnt2022)
 SELECT EmployeeId, [2020] AS cnt2020, [2021] AS cnt2021, [2022] AS cnt2022
 FROM (SELECT EmployeeId, YEAR(OrderDate) AS OrderYear
 FROM dbo.[Order]) AS D
 PIVOT(COUNT(OrderYear)
 FOR OrderYear IN([2020], [2021], [2022])) AS P;


SELECT	EmployeeId, 
		CAST(RIGHT(OrderYear, 4) AS INT) AS OrderYear, 
		numOrder
FROM dbo.EmpYearOrder
 UNPIVOT(numOrder FOR OrderYear IN(cnt2020, cnt2021, cnt2022)) AS U
WHERE numOrder != 0;

**Explanation**

The "EmpYearOrders" table is used to select data from the "EmpYearOrders" table, which contains three columns: empid (employee ID), cnt2020, cnt2021, and cnt2022. The UNPIVOT operation is used to rearrange the data into rows, allowing easier analysis by year. The "numorders" column represents the count of orders, while the "orderyear" column holds the year. The condition "numorders!= 0" filters out rows where the number of orders is not zero, removing rows with no orders in a particular year.

## _TOP 2_

Proposition:

- <span style="font-size: 14px;">Write a query retrieve all records from the 'Order' table and execute a query against it to calculate the total quantity of orders grouped by employee and customer.</span>
- <span style="font-size: 14px;">Tables involved: dbo.Orders</span>

In [ ]:
USE TSQLV6;

DROP TABLE IF EXISTS dbo.Orders;
GO

CREATE TABLE dbo.Orders
(
  orderid   INT        NOT NULL,
  orderdate DATE       NOT NULL,
  empid     INT        NOT NULL,
  custid    VARCHAR(5) NOT NULL,
  qty       INT        NOT NULL,
  CONSTRAINT PK_Orders PRIMARY KEY(orderid)
);

INSERT INTO dbo.Orders(orderid, orderdate, empid, custid, qty)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);


SELECT empid, custid, SUM(qty) AS sumqty
FROM dbo.Orders
GROUP BY empid, custid;


USE Northwinds2022TSQLV7;

DROP TABLE IF EXISTS dbo.[Order];
GO

CREATE TABLE dbo.[Order]
(
  OrderId   INT        NOT NULL,
  OrderDate DATE       NOT NULL,
  EmployeeId     INT        NOT NULL,
  CustomerId    VARCHAR(5) NOT NULL,
  Quantity       INT        NOT NULL,
  CONSTRAINT PK_Order PRIMARY KEY(OrderId)
);

INSERT INTO dbo.[Order](OrderId, OrderDate, EmployeeId, CustomerId, Quantity)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);

SELECT EmployeeId, CustomerId, SUM(Quantity) AS sumQuantity
FROM dbo.[Order]
GROUP BY EmployeeId, CustomerId;

**Explanation**

The SQL query selects three columns from the "Order" table: EmployeeId, CustomerId, and the sum of Quantity for each combination of these columns. The SUM(Quantity) function calculates the total quantity of orders for each combination. The "dbo" indicates the default schema in the database. The "GROUP BY EmployeeId, CustomerId" clause groups the rows based on these columns.

## _TOP 3_

Proposition:

- <span style="font-size: 14px;">Write a query to calculate the total quantity of orders for each customer ('A', 'B', 'C', 'D') handled by each employee.</span>
- <span style="font-size: 14px;">Tables involved: dbo.Orders</span>

In [ ]:
--Query against Orders, grouping by employee, pivoting customers,
-- aggregating sum of quantity
USE TSQLV6
SELECT empid,
SUM(CASE WHEN custid = 'A' THEN qty END) AS A,
SUM(CASE WHEN custid = 'B' THEN qty END) AS B,
SUM(CASE WHEN custid = 'C' THEN qty END) AS C,
SUM(CASE WHEN custid = 'D' THEN qty END) AS D  
FROM dbo.Orders
GROUP BY empid;

USE Northwinds2022TSQLV7
SELECT EmployeeId,
  SUM(CASE WHEN CustomerId = 'A' THEN Quantity END) AS A,
  SUM(CASE WHEN CustomerId = 'B' THEN Quantity END) AS B,
  SUM(CASE WHEN CustomerId = 'C' THEN Quantity END) AS C,
  SUM(CASE WHEN CustomerId = 'D' THEN Quantity END) AS D  
FROM dbo.Orders
GROUP BY EmployeeId;

**Explanation**

The "Orders" table is used to calculate the sum of quantities for each customer type ('A', 'B', 'C', 'D'). The "SUM(CASE WHEN custid = 'A' THEN qty END) AS A" function checks if the customer ID is 'A' and adds the quantity for that row to the total sum for customer A. The results are then grouped by empid, with the sums calculated separately for each unique empid.

## _TOP 4_

Proposition:Â 

- <span style="font-size: 14px;">Create the following queries that: retrieve orderid, custid, total value of orders, percentage of each order value compared to total order value, and running total of order values for each employee and order month.</span>
- <span style="font-size: 14px;">Tables involved: Sales.OrderValues, Sales.EmpOrders, and Sales.CustOrders</span>

In [ ]:
use TSQLV6

SELECT orderid, custid, val,
  SUM(val) OVER() AS totalvalue,
  SUM(val) OVER(PARTITION BY custid) AS custtotalvalue
FROM Sales.OrderValues;

SELECT orderid, custid, val,
  100. * val / SUM(val) OVER() AS pctall,
  100. * val / SUM(val) OVER(PARTITION BY custid) AS pctcust
FROM Sales.OrderValues;

SELECT empid, ordermonth, val,
  SUM(val) OVER(PARTITION BY empid
                ORDER BY ordermonth
                ROWS BETWEEN UNBOUNDED PRECEDING
                         AND CURRENT ROW) AS runval
FROM Sales.CustOrders, Sales.OrderValues

use Northwinds2022TSQLV7
SELECT OrderId, custid AS CustomerId, val,
  SUM(val) OVER() AS totalvalue,
  SUM(val) OVER(PARTITION BY custid) AS custtotalvalue
FROM TSQLV6.Sales.OrderValues;

SELECT OrderId, custid AS CustomerId, val,
  100. * val / SUM(val) OVER() AS pctall,
  100. * val / SUM(val) OVER(PARTITION BY custid) AS pctcust
FROM TSQLV6.Sales.OrderValues;

SELECT empid AS EmployeeId, ordermonth, val,
  SUM(val) OVER(PARTITION BY empid
                ORDER BY ordermonth
                ROWS BETWEEN UNBOUNDED PRECEDING
                         AND CURRENT ROW) AS runval
FROM TSQLV6.Sales.CustOrders, TSQLV6.Sales.OrderValues;

**Explanation**

<span style="font-size: 14px;">The table "OrderValues" contains three columns: orderid, custid, and val. The total value of all orders is calculated using the SUM function, which sums the "val" column for all rows in the table. The data is divided into partitions based on the custid column, and the sum of the "val" column within each partition is calculated. The percentage of each order's value compared to the total value of all orders is calculated using the SUM function. The running total of order values for each employee is calculated using the SUM function. The partitions are based on the empid column, and the ORDER BY ordermonth clause orders the rows within each partition by the order month. The ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW clause specifies the window frame over which the running total is calculated.</span>

## _Top 5_

Proposition:

- <span style="font-size: 14px;">Write a query that pivot the total quantity of orders for each customer ('A', 'B', 'C', 'D') handled by each employee.</span>
- <span style="color: var(--vscode-foreground);">Tables involved: dbo.Orders</span>

In [ ]:
USE TSQLV6;

-- Logical equivalent of previous query using the native PIVOT operator
SELECT empid, A, B, C, D
FROM (SELECT empid, custid, qty
      FROM dbo.Orders) AS D
  PIVOT(SUM(qty) FOR custid IN(A, B, C, D)) AS P;

-- Query demonstrating the problem with implicit grouping
SELECT empid, A, B, C, D
FROM dbo.Orders
  PIVOT(SUM(qty) FOR custid IN(A, B, C, D)) AS P;

use Northwinds2022TSQLV7
-- Logical equivalent of previous query using the native PIVOT operator
SELECT EmployeeId, A, B, C, D
FROM (SELECT EmployeeId, CustomerId, Quantity
      FROM dbo.Orders) AS D
  PIVOT(SUM(Quantity) FOR CustomerId IN(A, B, C, D)) AS P;

-- Query demonstrating the problem with implicit grouping
SELECT EmployeeId, A, B, C, D
FROM dbo.Orders
  PIVOT(SUM(Quantity) FOR CustomerId IN(A, B, C, D)) AS P;

**Explanation**

The query selects the empid column and columns representing the sum of quantities for each customer type ('A', 'B', 'C', 'D') from the "Orders" table. The columns are renamed as 'A', 'B', 'C', 'D'. A derived table (D) is created by selecting the empid, custid, and qty columns from the "Orders" table. The data is pivoted from D, calculated for each customer type ('A', 'B', 'C', 'D') and placed in separate columns. The PIVOT operation transforms the data from rows to columns based on the values in the custid column. This process is performed from the "Orders" table, which belongs to the default schema in the database.

# **<u>Excercises</u>**

## _Exercise 5_

Proposition:

- Write a query against the EmpYearOrders table that unpivotsÂ the data, returning a row for each employee and order year with the number of orders
- Exclude rows where the number of orders is 0Â (in our example, employee 3 in year 2016)

In [ ]:
USE TSQLV6;
DROP TABLE IF EXISTS dbo.Orders;
CREATE TABLE dbo.Orders
(
 orderid INT NOT NULL
 CONSTRAINT PK_Orders PRIMARY KEY,
 orderdate DATE NOT NULL,
 empid INT NOT NULL,
 custid VARCHAR(5) NOT NULL,
 qty INT NOT NULL
);
INSERT INTO dbo.Orders(orderid, orderdate, empid, custid, qty)
VALUES
 (30001, '20200802', 3, 'A', 10),
 (10001, '20201224', 2, 'A', 12),
 (10005, '20201224', 1, 'B', 20),
 (40001, '20210109', 2, 'A', 40),
 (10006, '20210118', 1, 'C', 14),
 (20001, '20210212', 2, 'B', 12),
 (40005, '20220212', 3, 'A', 10),
 (20002, '20220216', 1, 'C', 20),
 (30003, '20220418', 2, 'B', 15),
 (30004, '20200418', 3, 'C', 22),
 (30007, '20220907', 3, 'D', 30);

USE TSQLV6;
DROP TABLE IF EXISTS dbo.EmpYearOrders;
CREATE TABLE dbo.EmpYearOrders
(
 empid INT NOT NULL
 CONSTRAINT PK_EmpYearOrders PRIMARY KEY,
 cnt2020 INT NULL,
 cnt2021 INT NULL,
 cnt2022 INT NULL
);

INSERT INTO dbo.EmpYearOrders(empid, cnt2020, cnt2021, cnt2022)
 SELECT empid, [2020] AS cnt2020, [2021] AS cnt2021, [2022] AS cnt2022
 FROM (SELECT empid, YEAR(orderdate) AS orderyear
 FROM dbo.Orders) AS D
 PIVOT(COUNT(orderyear)
 FOR orderyear IN([2020], [2021], [2022])) AS P;

SELECT	empid, 
		CAST(RIGHT(orderyear, 4) AS INT) AS orderyear, 
		numorders
FROM dbo.EmpYearOrders
 UNPIVOT(numorders FOR orderyear IN(cnt2020, cnt2021, cnt2022)) AS U
WHERE numorders != 0;


USE Northwinds2022TSQLV7;
DROP TABLE IF EXISTS dbo.[Order];
CREATE TABLE dbo.[Order]
(
 OrderId INT NOT NULL
 CONSTRAINT PK_Order PRIMARY KEY,
 OrderDate DATE NOT NULL,
 EmployeeId INT NOT NULL,
 CustomerId VARCHAR(5) NOT NULL,
 Quantity INT NOT NULL
);
INSERT INTO dbo.[Order](OrderId, OrderDate, EmployeeId, CustomerId, Quantity)
VALUES
 (30001, '20200802', 3, 'A', 10),
 (10001, '20201224', 2, 'A', 12),
 (10005, '20201224', 1, 'B', 20),
 (40001, '20210109', 2, 'A', 40),
 (10006, '20210118', 1, 'C', 14),
 (20001, '20210212', 2, 'B', 12),
 (40005, '20220212', 3, 'A', 10),
 (20002, '20220216', 1, 'C', 20),
 (30003, '20220418', 2, 'B', 15),
 (30004, '20200418', 3, 'C', 22),
 (30007, '20220907', 3, 'D', 30);

USE Northwinds2022TSQLV7;
DROP TABLE IF EXISTS dbo.EmpYearOrder;
CREATE TABLE dbo.EmpYearOrder
(
 EmployeeId INT NOT NULL
 CONSTRAINT PK_EmpYearOrder PRIMARY KEY,
 cnt2020 INT NULL,
 cnt2021 INT NULL,
 cnt2022 INT NULL
);

INSERT INTO dbo.EmpYearOrder(EmployeeId, cnt2020, cnt2021, cnt2022)
 SELECT EmployeeId, [2020] AS cnt2020, [2021] AS cnt2021, [2022] AS cnt2022
 FROM (SELECT EmployeeId, YEAR(OrderDate) AS OrderYear
 FROM dbo.[Order]) AS D
 PIVOT(COUNT(OrderYear)
 FOR OrderYear IN([2020], [2021], [2022])) AS P;


SELECT	EmployeeId, 
		CAST(RIGHT(OrderYear, 4) AS INT) AS OrderYear, 
		numOrder
FROM dbo.EmpYearOrder
 UNPIVOT(numOrder FOR OrderYear IN(cnt2020, cnt2021, cnt2022)) AS U
WHERE numOrder != 0;

**Explanation**

The "EmpYearOrders" table is used to select data from the "EmpYearOrders" table, which contains three columns: empid (employee ID), cnt2020, cnt2021, and cnt2022. The UNPIVOT operation is used to rearrange the data into rows, allowing easier analysis by year. The "numorders" column represents the count of orders, while the "orderyear" column holds the year. The condition "numorders!= 0" filters out rows where the number of orders is not zero, removing rows with no orders in a particular year.

# **<u>Proposition</u>**

## **_<u>Proposition #1</u>_**

- Write a query retrieve all records from the 'Order' table and execute a query against it to calculate the total quantity of orders grouped by employee and customer.
- Tables involved: dbo.Orders

In [ ]:
USE TSQLV6;

DROP TABLE IF EXISTS dbo.Orders;
GO

CREATE TABLE dbo.Orders
(
  orderid   INT        NOT NULL,
  orderdate DATE       NOT NULL,
  empid     INT        NOT NULL,
  custid    VARCHAR(5) NOT NULL,
  qty       INT        NOT NULL,
  CONSTRAINT PK_Orders PRIMARY KEY(orderid)
);

INSERT INTO dbo.Orders(orderid, orderdate, empid, custid, qty)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);


SELECT empid, custid, SUM(qty) AS sumqty
FROM dbo.Orders
GROUP BY empid, custid;


USE Northwinds2022TSQLV7;

DROP TABLE IF EXISTS dbo.[Order];
GO

CREATE TABLE dbo.[Order]
(
  OrderId   INT        NOT NULL,
  OrderDate DATE       NOT NULL,
  EmployeeId     INT        NOT NULL,
  CustomerId    VARCHAR(5) NOT NULL,
  Quantity       INT        NOT NULL,
  CONSTRAINT PK_Order PRIMARY KEY(OrderId)
);

INSERT INTO dbo.[Order](OrderId, OrderDate, EmployeeId, CustomerId, Quantity)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);

SELECT EmployeeId, CustomerId, SUM(Quantity) AS sumQuantity
FROM dbo.[Order]
GROUP BY EmployeeId, CustomerId;

**Explanation**

The SQL query selects three columns from the "Order" table: EmployeeId, CustomerId, and the sum of Quantity for each combination of these columns. The SUM(Quantity) function calculates the total quantity of orders for each combination. The "dbo" indicates the default schema in the database. The "GROUP BY EmployeeId, CustomerId" clause groups the rows based on these columns.

## _Proposition #2_

- Write a query to calculate the total quantity of orders for each customer ('A', 'B', 'C', 'D') handled by each employee.
- Tables involved: dbo.Orders

In [ ]:
--Query against Orders, grouping by employee, pivoting customers,
-- aggregating sum of quantity
USE TSQLV6
SELECT empid,
SUM(CASE WHEN custid = 'A' THEN qty END) AS A,
SUM(CASE WHEN custid = 'B' THEN qty END) AS B,
SUM(CASE WHEN custid = 'C' THEN qty END) AS C,
SUM(CASE WHEN custid = 'D' THEN qty END) AS D  
FROM dbo.Orders
GROUP BY empid;

USE Northwinds2022TSQLV7
SELECT EmployeeId,
  SUM(CASE WHEN CustomerId = 'A' THEN Quantity END) AS A,
  SUM(CASE WHEN CustomerId = 'B' THEN Quantity END) AS B,
  SUM(CASE WHEN CustomerId = 'C' THEN Quantity END) AS C,
  SUM(CASE WHEN CustomerId = 'D' THEN Quantity END) AS D  
FROM dbo.Orders
GROUP BY EmployeeId;

**Explanation**

The "Orders" table is used to calculate the sum of quantities for each customer type ('A', 'B', 'C', 'D'). The "SUM(CASE WHEN custid = 'A' THEN qty END) AS A" function checks if the customer ID is 'A' and adds the quantity for that row to the total sum for customer A. The results are then grouped by empid, with the sums calculated separately for each unique empid.

## _Proposition #3_

- Create the following queries that: retrieve orderid, custid, total value of orders, percentage of each order value compared to total order value, and running total of order values for each employee and order month.
- Tables involved: Sales.OrderValues, Sales.EmpOrders, and Sales.CustOrders

In [ ]:
use TSQLV6

SELECT orderid, custid, val,
  SUM(val) OVER() AS totalvalue,
  SUM(val) OVER(PARTITION BY custid) AS custtotalvalue
FROM Sales.OrderValues;

SELECT orderid, custid, val,
  100. * val / SUM(val) OVER() AS pctall,
  100. * val / SUM(val) OVER(PARTITION BY custid) AS pctcust
FROM Sales.OrderValues;

SELECT empid, ordermonth, val,
  SUM(val) OVER(PARTITION BY empid
                ORDER BY ordermonth
                ROWS BETWEEN UNBOUNDED PRECEDING
                         AND CURRENT ROW) AS runval
FROM Sales.CustOrders, Sales.OrderValues

use Northwinds2022TSQLV7
SELECT OrderId, custid AS CustomerId, val,
  SUM(val) OVER() AS totalvalue,
  SUM(val) OVER(PARTITION BY custid) AS custtotalvalue
FROM TSQLV6.Sales.OrderValues;

SELECT OrderId, custid AS CustomerId, val,
  100. * val / SUM(val) OVER() AS pctall,
  100. * val / SUM(val) OVER(PARTITION BY custid) AS pctcust
FROM TSQLV6.Sales.OrderValues;

SELECT empid AS EmployeeId, ordermonth, val,
  SUM(val) OVER(PARTITION BY empid
                ORDER BY ordermonth
                ROWS BETWEEN UNBOUNDED PRECEDING
                         AND CURRENT ROW) AS runval
FROM TSQLV6.Sales.CustOrders, TSQLV6.Sales.OrderValues;

**Explanation**

The table "OrderValues" contains three columns: orderid, custid, and val. The total value of all orders is calculated using the SUM function, which sums the "val" column for all rows in the table. The data is divided into partitions based on the custid column, and the sum of the "val" column within each partition is calculated. The percentage of each order's value compared to the total value of all orders is calculated using the SUM function. The running total of order values for each employee is calculated using the SUM function. The partitions are based on the empid column, and the ORDER BY ordermonth clause orders the rows within each partition by the order month. The ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW clause specifies the window frame over which the running total is calculated.

## _Proposition #4_

- Write a query that pivot the total quantity of orders for each customer ('A', 'B', 'C', 'D') handled by each employee.
- <span style="color: var(--vscode-foreground);">Tables involved: dbo.Orders</span>

In [ ]:
USE TSQLV6;

-- Logical equivalent of previous query using the native PIVOT operator
SELECT empid, A, B, C, D
FROM (SELECT empid, custid, qty
      FROM dbo.Orders) AS D
  PIVOT(SUM(qty) FOR custid IN(A, B, C, D)) AS P;

-- Query demonstrating the problem with implicit grouping
SELECT empid, A, B, C, D
FROM dbo.Orders
  PIVOT(SUM(qty) FOR custid IN(A, B, C, D)) AS P;

use Northwinds2022TSQLV7
-- Logical equivalent of previous query using the native PIVOT operator
SELECT EmployeeId, A, B, C, D
FROM (SELECT EmployeeId, CustomerId, Quantity
      FROM dbo.Orders) AS D
  PIVOT(SUM(Quantity) FOR CustomerId IN(A, B, C, D)) AS P;

-- Query demonstrating the problem with implicit grouping
SELECT EmployeeId, A, B, C, D
FROM dbo.Orders
  PIVOT(SUM(Quantity) FOR CustomerId IN(A, B, C, D)) AS P;

**Explanation**

The query selects the empid column and columns representing the sum of quantities for each customer type ('A', 'B', 'C', 'D') from the "Orders" table. The columns are renamed as 'A', 'B', 'C', 'D'. A derived table (D) is created by selecting the empid, custid, and qty columns from the "Orders" table. The data is pivoted from D, calculated for each customer type ('A', 'B', 'C', 'D') and placed in separate columns. The PIVOT operation transforms the data from rows to columns based on the values in the custid column. This process is performed from the "Orders" table, which belongs to the default schema in the database.